[submodule "Events"]
	path = Events
	url = https://github.com/Schuldakt/DaktLib-Events.git
[submodule "Export"]
	path = Export
	url = https://github.com/Schuldakt/DaktLib-Export.git
[submodule "GUI"]
	path = GUI
	url = https://github.com/Schuldakt/DaktLib-GUI.git
[submodule "Logger"]
	path = Logger
	url = https://github.com/Schuldakt/DaktLib-Logger.git
[submodule "OCR"]
	path = OCR
	url = https://github.com/Schuldakt/DaktLib-OCR.git
[submodule "Overlay"]
	path = Overlay
	url = https://github.com/Schuldakt/DaktLib-Overlay.git
[submodule "Parser"]
	path = Parser
	url = https://github.com/Schuldakt/DaktLib-Parser.git
[submodule "VFS"]
	path = VFS
	url = https://github.com/Schuldakt/DaktLib-VFS.git
[submodule "Http"]
	path = Http
	url = https://github.com/Schuldakt/DaktLib-Http.git
[submodule "SQL"]
	path = SQL
	url = https://github.com/Schuldakt/DaktLib-SQL.git
[submodule "Capture"]
	path = Capture
	url = https://github.com/Schuldakt/DaktLib-Capture.git
[submodule "ML"]
	path = ML
	url = https://github.com/Schuldakt/DaktLib-ML.git
